name: Flow1

on:
  push:
    tags:
        - version*
    branches: 
        - dev
        - master        
  pull_request:
    branches:
        - dev
        - master  
        
jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - name: Hello
        run: echo "HELLO WORLD"