name: build

on:
  push:
    branches: 
        - master        

env:
    CICD_REPO_SLUG: jindrapetrik/jpexs-decompiler
    CICD_REFTYPE: ${{ github.ref_type }}
    CICD_REFNAME: ${{ github.ref_name }}
    CICD_COMMIT: ${{ github.sha }}
    CICD_NAME: GitHub Actions
    CICD_EMAIL: GitHub
    CICD_EVENTNAME: ${{ github.event_name }}

jobs:
  build:

    runs-on: ubuntu-latest
    container: debian:sid

    steps:
    - name: Checkout
      uses: actions/checkout@v3
    
    - name: Install Wine
      run: |
        dpkg --add-architecture i386
        apt-get update -y -qq
        apt-get install -y -qq wine
        wine --version
                
    - name: Install Resource Hacker
      env:
        RH_DIR: tools/wine/resourcehacker
        RH_ZIP: tools/wine/resourcehacker.zip
        RH_URL: https://www.angusj.com/resourcehacker/resource_hacker.zip
      run: |              
        set -euxo pipefail
        
        apt-get install -y -qq unzip wget
        
        mkdir -p "$(dirname "$RH_ZIP")"
        mkdir -p "$RH_DIR"

        wget -q -O "$RH_ZIP" "$RH_URL"
        unzip -o "$RH_ZIP" -d "$RH_DIR"
        
    - name: Set up ant
      run: |
        apt-get install -y -qq ant 
        
    - name: Set up Xorg
      run: |
        apt-get install -y -qq xorg xvfb xfonts-100dpi xfonts-75dpi xfonts-scalable xfonts-cyrillic
        
    - name: Build
      env:
        #WINEPREFIX: tools/wine
        RH_EXE: tools/wine/resourcehacker/ResourceHacker.exe
        WINEDEBUG: "-all"      
      run: |        
        #mkdir -p ${{ github.workspace }}/tools/wine
        #cp ${{ github.workspace }}/hello.exe ${{ github.workspace }}/tools/wine/
        #wine ${{ github.workspace }}/hello.exe
        #cp splash.bmp ${{ github.workspace }}/tools/wine/splash.bmp
        #cp ffdec.exe ${{ github.workspace }}/tools/wine/ffdec.exe
        #wine $RH_EXE -open ${{ github.workspace }}/tools/wine/ffdec.exe -save ${{ github.workspace }}/tools/wine/out.exe -action addoverwrite -res ${{ github.workspace }}/tools/wine/splash.bmp -mask BITMAP,1
        export WINEPREFIX=$(pwd)/tools/wine
        
        #mkdir -p $WINEPREFIX/resourcehacker
        
        #cp ffdec.exe $WINEPREFIX/resourcehacker/
        #cp splash.bmp $WINEPREFIX/resourcehacker/
        
        ant build
        
        #xvfb-run wine $WINEPREFIX/resourcehacker/ResourceHacker.exe -open $WINEPREFIX/ffdec.exe -save $WINEPREFIX/out.exe -action addoverwrite -res $WINEPREFIX/splash.bmp -mask BITMAP,1
        #
        ls -la tools/wine/resourcehacker/
        #cp hello.exe $WINEPREFIX/
        #wine $WINEPREFIX/hello.exe
