name: build

on:
  push:
    branches: 
        - master        

env:
    CICD_REPO_SLUG: jindrapetrik/jpexs-decompiler
    CICD_REFTYPE: ${{ github.ref_type }}
    CICD_REFNAME: ${{ github.ref_name }}
    CICD_COMMIT: ${{ github.sha }}
    CICD_NAME: GitHub Actions
    CICD_EMAIL: GitHub
    CICD_EVENTNAME: ${{ github.event_name }}

jobs:
  build:

    runs-on: ubuntu-latest
    container: debian:sid

    steps:
    - name: Checkout
      uses: actions/checkout@v3
    
    - name: Install Wine
      run: |
        dpkg --add-architecture i386
        apt-get update -y -qq
        apt-get install -y -qq wine
        wine --version
        
    - name: Init Wine prefix
      env:
        WINEPREFIX: ${{ github.workspace }}/tools/.wine
        WINEDEBUG: "-all"
        #WINEARCH: "win32"
      run: |        
        mkdir -p $WINEPREFIX
        winecfg
        #wineboot -u        
        
    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        distribution: adopt
        architecture: x64
        java-version: |
          8           
          
    - name: Install Resource Hacker
      env:
        RH_DIR: ${{ github.workspace }}/tools/resourcehacker
        RH_ZIP: ${{ github.workspace }}/tools/resourcehacker.zip
        RH_URL: https://www.angusj.com/resourcehacker/resource_hacker.zip
      run: |              
        set -euxo pipefail
        
        apt-get install -y -qq unzip wget
        
        mkdir -p "$(dirname "$RH_ZIP")"
        mkdir -p "$RH_DIR"

        wget -O "$RH_ZIP" "$RH_URL"
        unzip -o "$RH_ZIP" -d "$RH_DIR"

        # find exe (sometimes it's in subfolder)
        find "$RH_DIR" -maxdepth 3 -type f -iname "ResourceHacker.exe" -print 
        
    - name: Set up ant
      run: |
        apt-get install -y -qq ant 
    - name: Build
      env:
        WINEPREFIX: ${{ github.workspace }}/tools/
        RH_EXE: ${{ github.workspace }}/tools/resourcehacker/ResourceHacker.exe
        WINEDEBUG: "-all"      
      run: |        
        wine $RH_EXE -open ffdec.exe -save out.exe -action addoverwrite -res splash.bmp -mask BITMAP,1
        #./cicd_scripts/script.sh
